// Base
$color-background: #121212;
$color-surface: #1e1e1e;
$color-surface-alt: #252525;
$color-border: #2c2c2c;
$color-light-indicator: #202020;



// Text
$color-text: #e0e0e0;
$color-text-muted: #a0a0a0;
$color-text-inverted: #ffffff;

// Accent
$color-accent: #2196f3; // Main blue
$color-accent-hover: lighten($color-accent, 8%);
$color-accent-active: darken($color-accent, 8%);
$color-accent-muted: rgba($color-accent, 0.5);

// Indicators
$bluetooth-color: #007bff;
$wifi-color: #28a745;
$vr-color: #fff;


// Status
$color-success: #4caf50;
$color-warning: #ff9800;
$color-error: #f44336;
$color-info: $color-accent;

// Shadows
$shadow-elevation-1: 0 2px 4px rgba(0, 0, 0, 0.25);
$shadow-elevation-2: 0 4px 8px rgba(0, 0, 0, 0.35);

/// Returns a text-shadow value-list for a glow effect
/// @param $color       The glow color
/// @param $inner-blur  Radius of the tight inner glow
/// @param $outer-blur  Radius of the wide outer glow
@function glow($color, $inner-blur: 2px, $outer-blur: 4px) {
  @return (
		  0 0 $inner-blur $color,
		  0 0 $outer-blur $color
  );
}

@mixin inset-glass($bg-color, $blur: 12px) {
  background: transparent;
  border-radius: 8px;
  outline: 1px solid rgba(255, 255, 255, 0.05);
  
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  
  box-shadow:
		  inset 0 2px 6px darken($bg-color, 15%),   
		  inset 0 -2px 6px lighten($bg-color, 12%), 
		  0 2px 6px rgba(0, 0, 0, 0.5);             

  
  color: #fff;
}

@mixin iconGlow($color, $inner-blur: 0px, $outer-blur: 4px) {
  
  color: darken($color,20%);
  &.active{
	color: $color;
	text-shadow:  glow($color,$inner-blur, $outer-blur);
  }
  
}