@using System.Reflection
@using FitOSC.Services
@inject UpdateCheckService UpdateCheckService
@implements IDisposable

<div class="settings-section">
    <div class="settings-header">
        <h3>FitOSC</h3>
        <div class="header-version-controls">
            <span class="header-version">Version @UpdateCheckService.CurrentVersion</span>
            <button class="btn-secondary btn-small" @onclick="CheckForUpdates" disabled="@_isChecking">
                <i class="fa-solid fa-rotate @(_isChecking ? "fa-spin" : "")"></i>
            </button>
            @if (UpdateCheckService.UpdateAvailable)
            {
                <button class="btn-primary btn-small" @onclick="OpenUpdateUrl">
                    <i class="fa-solid fa-download"></i>
                    <span>Update</span>
                </button>
            }
            else if (!_isChecking)
            {
                <span class="update-status-badge">
                    <i class="fa-solid fa-check-circle"></i>
                    <span>Up to date</span>
                </span>
            }
        </div>
    </div>

    <div class="settings-item">
        <div class="about-links">
            <a href="https://github.com/duinrahaic/FitOSC" target="_blank" class="about-link">
                <i class="fa-brands fa-github"></i>
                <span>GitHub</span>
            </a>
            <a href="https://me.duinrahaic.app/fitosc" target="_blank" class="about-link">
                <i class="fa-solid fa-book"></i>
                <span>User Guide</span>
            </a>
        </div>
    </div>
</div>

<div class="settings-section">
    <div class="settings-header">
        <h3>Contact</h3>
    </div>

    <div class="settings-item">
        <div class="about-links">
            <a href="https://discord.gg/aZQfy6H9fA" target="_blank" class="about-link">
                <i class="fa-brands fa-discord"></i>
                <span>Discord</span>
            </a>
            <a href="https://github.com/duinrahaic" target="_blank" class="about-link">
                <i class="fa-brands fa-github"></i>
                <span>GitHub</span>
            </a>
            <a href="https://bsky.app/profile/duinrahaic.app" target="_blank" class="about-link">
                <i class="fa-brands fa-bluesky"></i>
                <span>Bluesky</span>
            </a>
            <a href="https://x.com/duinrahaic" target="_blank" class="about-link">
                <i class="fa-brands fa-x-twitter"></i>
                <span>Twitter</span>
            </a>
            <a href="https://vrchat.com/home/user/usr_30b4e812-e6b1-4200-b563-ef74e89ea266" target="_blank" class="about-link">
                <i class="fa-solid fa-vr-cardboard"></i>
                <span>VRChat</span>
            </a>
            <a href="https://me.duinrahaic.com" target="_blank" class="about-link">
                <i class="fa-solid fa-globe"></i>
                <span>Website</span>
            </a>
        </div>
    </div>
</div>

<div class="settings-section">
    <div class="settings-header">
        <h3>Support</h3>
    </div>

    <div class="settings-item">
        <div class="about-links">
            <a href="https://duinrahaic.booth.pm/" target="_blank" class="about-link">
                <i class="fa-solid fa-bag-shopping"></i>
                <span>Booth</span>
            </a>
            <a href="https://ko-fi.com/duinrahaic" target="_blank" class="about-link">
                <i class="fa-solid fa-heart"></i>
                <span>Ko-fi</span>
            </a>
        </div>
    </div>
</div>

<div class="settings-section">
    <div class="settings-header">
        <h3>Special Mentions</h3>
    </div>

    <div class="settings-item">
        <div class="about-credits">
            <a href="https://avaloniaui.net/" target="_blank" class="credit-link">Avalonia</a>
            <a href="https://github.com/LucHeart/CoreOSC-UTF8-ASYNC" target="_blank" class="credit-link">CoreOSC</a>
            <a href="https://github.com/inthehand/32feet" target="_blank" class="credit-link">InTheHand.BluetoothLE</a>
            <a href="https://github.com/ValveSoftware/openvr" target="_blank" class="credit-link">OpenVR</a>
            <a href="https://github.com/Natsumi-sama/OscQueryLibrary" target="_blank" class="credit-link">OscQueryLibrary</a>
            <a href="https://serilog.net/" target="_blank" class="credit-link">Serilog</a>
            <a href="https://threejs.org/" target="_blank" class="credit-link">Three.js</a>
            <a href="https://fontawesome.com/" target="_blank" class="credit-link">Font Awesome</a>
        </div>
    </div>
</div>

@code {
    private bool _isChecking = false;
    private bool _hasChecked = false;

    protected override void OnInitialized()
    {
        UpdateCheckService.UpdateAvailableChanged += HandleUpdateAvailableChanged;
    }

    private void HandleUpdateAvailableChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task CheckForUpdates()
    {
        _isChecking = true;
        _hasChecked = false;
        StateHasChanged();

        try
        {
            await UpdateCheckService.CheckForUpdatesManuallyAsync();
            _hasChecked = true;
        }
        finally
        {
            _isChecking = false;
            StateHasChanged();
        }
    }

    private void OpenUpdateUrl()
    {
        if (!string.IsNullOrEmpty(UpdateCheckService.ReleaseUrl))
        {
            try
            {
                System.Diagnostics.Process.Start(new System.Diagnostics.ProcessStartInfo
                {
                    FileName = UpdateCheckService.ReleaseUrl,
                    UseShellExecute = true
                });
            }
            catch
            {
                // Silently fail if we can't open the browser
            }
        }
    }

    public void Dispose()
    {
        UpdateCheckService.UpdateAvailableChanged -= HandleUpdateAvailableChanged;
    }
}
