@page "/"
@using Valve.VR
@using FitOSC.Pages.Components
@using FitOSC.Services.State
@using FitOSC.Services.Treadmill
@using FitOSC.Utilities
@inject TreadmillManager Treadmill

<div class="treadmill-interaction">
    <TreadmillDisplay/>
    <TreadmillControls/>
</div>