@using FitOSC.Services.State
 
<div class="indicator-bar">
    <InterfaceStatusIndicator Interface="AppInterface.Bluetooth" />
    <InterfaceStatusIndicator Interface="AppInterface.VR" />
    <InterfaceStatusIndicator Interface="AppInterface.OSC" />
</div>

 